.login-page {
    background-color: #222d32;
}
.login-logo a {
    color: #A20012;
}
.login-logo span {
    
    color: #fff;
}
.login-box-body {
    background-color: #ededed;
}
.btn-primary {
    background-color: #222d32 !important;
    color: #fff !important;
    padding: 1rem 2rem;
    border-radius: 3px;
    /* border: 2px double #A20012; */
    transition: all .2s;
    border: none;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #374449 !important;
}
.form-control {
    padding: 1.8rem 1rem;
}
input:focus {
    background-color: rgb(255, 253, 240) !important;
    border-color: rgba(131, 131, 131, 0.8) !important;
}
.message-error {
    color: #83000f;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem;
    display: block;
}
.input-error {
    border-color: #83000f;
}
.login-box {
    margin-top: 20rem;
}
#login-error-message {
    color: #83000f;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem;
    display: block;
}