.skin-blue .main-header .navbar {
     background-color: #222d32;
     background-color: #3e484d;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #A20012;
}
.skin-blue .main-header .logo {
    background-color: #A20012;
}
.skin-blue .main-header .logo:hover {
    background-color: #A20012;
}
.skin-blue .sidebar-menu>li.header{
    background-color: #77000e;
    color: #fff;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #77000e;
}
.skin-blue .sidebar-menu>li.menu-open>a{
    background-color: #460008;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0;
}
.content-header {
    margin-bottom: 2rem;
    color: #353535;
}
.content-header small {
    /*color: #353535;*/
}
.main-sidebar {
    background-color: #A20012 !important;
}
.content-header {
    color: #fff;
    max-width: 1100px;
    margin: 0 auto 2.8rem; 
}
.content-header small {
    color: rgb(138, 138, 138);
    color: rgb(182, 182, 182);
    /* font-size: 15px;
    font-weight: 400;
    line-height: 1; */
}
.bg-panel {
    background-color: #BD0016;
    color: #fff;
}
.bg-panel-tab {
    background-color:#fff;
}
.bg-panel-tab a:hover {
    background-color: #E7E7E7 !important;
}
.content-wrapper {
    background-color: #e7e0b1;
    /* color de fondo candidato */
    background-color: #222d32;
    background-color: #3e484d;
    padding-left: 2rem;
    padding-right: 2rem;
}
.box {
    border: 0;
    position: relative;
    background-color: transparent;
    padding: 20px;
    box-shadow: none !important;
}
.content {
    max-width: 1100px;
}
.box:before {
    
        content: '';
        /*border-radius: 10px;*/
        left: 0px;
        right: 0px;

        top: 0px;
        bottom: 0px;
        position: absolute;
        
       
       
        /*background-image: linear-gradient(to right, transparent 25%, #222d32 25%, #222d32 75%, transparent 75%),
                          linear-gradient(#A20012 25%, transparent 25%, transparent 75%, #A20012 75%);*/
    
        background-image: linear-gradient(to right, transparent 25%, #3e484d 25%, #3e484d 75%, transparent 75%),
        linear-gradient(#A20012 25%, transparent 25%, transparent 75%, #A20012 75%);
    
}
.box-title {
    padding: 2rem;
    padding-right: 4rem;
}

.main-footer {
    background-color: #353535;
    background-color: #222d32;
    background-color: #3e484d;
    color: #fff;
    border: none;
}
.box-footer {
    background-color: transparent;
    border-radius: 0 0 10px 10px;
    padding: 2rem 0;
    border-top: 0;
}
.box-header {
    border-radius: 10px 10px 0 0;
    padding: 0 !important;
    /*background-color: gray;*/
}
.box form, .box .box-container {
    background-color: #f6f6f6;
    background-color: #ededed;
    position: relative;
}

.help {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    color: gray;
}
.help strong {
    color: #00477c;
    margin-left: .5rem;
}
.form-control {
    padding: 1.8rem 1rem;
}
textarea.form-control {
    padding: 1rem;
    resize: none;
}
.form-control:focus, select:focus, 
.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: rgb(255, 253, 240) !important;
    border-color: rgba(131, 131, 131, 0.8) !important;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(17, 17, 17, 0.6);
    outline: 0 none;*/
}
.select2.select2-container.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: transparent !important;
}
.file-caption-name {
    position: relative;
    top: -10px;
}
.file-caption-icon .glyphicon.glyphicon-file {
    position: relative;
    top: -8px;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
    border-color: #d2d6de !important;
    padding: .3rem;
}
select{
    
    
    padding: 0 1rem !important;
    height: 38px !important;
}
.btn-primary {
    background-color: #A20012 !important;
    border-color: #A20012 !important;
    transition: all .2s;
    padding: .8rem 1rem;
}
.btn-primary:hover {
    background-color: #83000f !important;
    border-color: #83000f !important;
}

.btn-default {
    background-color: rgb(3, 43, 73);
    background-color: #222d32 !important;
    background-color: #3e484d !important;
    color: #fff !important;
    padding: 1rem 2rem;
    border-radius: 3px;
    /*border: 2px double #A20012;*/
    transition: all .2s;
    border: none;
}
.btn-default:hover { 
    background-color: #0b161d !important;
    color: #fff !important;
}
.icon {
    margin-right: 3px;
    /*color: #A20012;*/
}
.btn-secondary {
    background-color: #00477c !important;
    border-color: #00477c !important;
    transition: all .2s;
    padding: .8rem 1rem;
    color: #fff !important;
}
.btn-secondary:hover {
    background-color: #04375e !important;
    color: #fff !important;
}
.btn-secondary--gallery {
    background-color: #005665 !important;
    border-color: #005665 !important;
}
.btn-secondary--gallery:hover {
    background-color: #004955 !important;
    color: #fff !important;
}


.box-header,
.box-body,
.box-footer {
    padding-right: 2rem;
    padding-left: 2rem;
    color: #444;
    /*background-color: transparent;*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #222d32 !important;
    background-color: #3e484d !important;
    border-color: #151c1f !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255,255,255,0.7) !important;
}

.bg-0 {
    color: crimson !important;
}
.bg-1 {
    color: steelblue !important;
}
.bg-2 {
    color: darkgoldenrod !important;
}
.bg-3 {
    color: darkred !important;
}
.bg-4 {
    color: darkorchid !important;
}
.bg-5 {
    color: teal !important;
}
#tableStores .fa-map-pin {
    margin-right: .5rem;
}



.dashboard {
    /*background-color: #fff;*/
    height: calc(100vh - 23rem);
    border: 2rem solid #ededed;
    background-image: url('/assets/images/bg/addicted.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.dashboard--antara {
    background-image: url('/assets/images/bg/antara.jpg');
}
.dashboard--andamar {
    background-image: url('/assets/images/bg/andamar.jpg');
}
.dashboard--antea {
    background-image: url('/assets/images/bg/antea.jpg');
}
.dashboard--luxuryhall {
    background-image: url('/assets/images/bg/luxuryhall.jpg');
}
.dashboard--angelopolis {
    background-image: url('/assets/images/bg/angelopolis.jpg');
}
.dashboard--limitless {
    background-image: url('/assets/images/bg/limitless.jpg');
}
.dashboard--pearlandamar {
    background-image: url('/assets/images/bg/pearlandamar.png');
}
.dashboard--rewards {
    background-image: url('/assets/images/bg/rewards.jpg');
}
.dashboard--one {
    background-image: url('/assets/images/bg/one.jpg');
}
.dashboard--townsquare {
    background-image: url('/assets/images/bg/townsquare.jpg');
}
.dashboard--harbor {
    background-image: url('/assets/images/bg/harbor.jpg');
}
.dashboard--marina {
    background-image: url('/assets/images/bg/marina.jpg');
}
.dashboard--corazon {
    background-image: url('/assets/images/bg/corazon.jpg');
}
.dashboard--landmark {
    background-image: url('/assets/images/bg/landmark.jpg');
}
.dashboard--altavista {
    background-image: url('/assets/images/bg/altavista.jpg');
}
.dashboard:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
}
.dashboard__title {
    color: #ededed;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    font-size: 5rem;
    padding: 5rem;
    font-family: 'Lato', sans-serif;
    /*width: 350px;*/
}
.dashboard__slogan {
    display: block;
    margin-top: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    
}
.dashboard__body {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 50%;
    padding: 4rem 2rem 4rem 6rem;
    background-color: #A20012;
}
.dashboard__menu {
    list-style: none;
    padding-left: 0;
}
.dashboard__item {
    margin-bottom: 4rem;
}
.dashboard__item--square {
    margin-bottom: 2.5rem;
}
.dashboard__item:last-child {
    margin-bottom: 0;
}
.dashboard__description {
    color: #fff;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.5;
}
.dashboard__link {
    position: relative;
    color: #fff !important;
    font-weight: bold;
    font-size: 2.2rem;
    display: block;
    margin-bottom: .2rem;
    transition: all .4s;
    
}
.dashboard__link--square {
    margin-bottom: .2rem;
}
.dashboard__link:hover, .dashboard__link:active {
    color: #ededed !important;
}
.dashboard__link:hover .dashboard__icon {
    background-color: #A20012;
    color: #fff;
    transform: rotate(360deg);
}
.dashboard__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    left: calc(-6rem - 20px);
    top: -.5rem;
    color: #A20012;
    padding: 1rem;
    background-color: #ededed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .4s;
}
.dashboard__icon:hover {
    background-color: #A20012;
    color: #ededed;
    transform: rotate(360deg);
}

.message-error {
    color: #83000f;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: .5rem;
    display: block;
}
.input-error {
    border-color: #83000f;
}
.fa.fa-exclamation-circle {
    margin-right: .3rem;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: calc(100vh - 23rem);
}
.home__image {
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
}
.home__message span {
    display: block;
    color: #fadd0b;
    margin-top: .8rem;
}
.home__message {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 8rem;
}
.home__question {
    color: #fff;
    font-size: 2rem;
}
.home__username {
    font-size: 2rem;
    color: rgb(255, 25, 25);
    
}
.home__button {
    background-color: rgb(187, 3, 3);
    padding: 1.4rem;
    color: white !important;
    font-size: 1.6rem;
    border-radius: 3px;
    transition: all .3s;
}
.home__button:hover {
    background-color: #A20012;
    color: #fff !important;
}
.home__icon {
    margin-right: .5rem;
}




.skin-blue .main-header li.user-header {
    background-color: #A20012;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: white;
}


.messages {
    background-color: rgb(244, 244, 244);
    padding: 3rem;
    display: flex;
    border: 20px solid #A20012;
}
.messages h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2rem;
}
.messages ul {
    list-style: none;
    padding-left: 0 !important;
}
.messages li {
    color: rgb(55, 55, 55);
    font-size: 16px;
    list-style: none;
}
.message b {

}




.main-header .navbar {
    margin-left: 260px;
}
.main-header .logo {
    width: 260px;
}
.main-sidebar {
    width: 260px;
}
.content-wrapper, .main-footer {
    margin-left: 260px;
}


/** Estilos Ordenar Slides **/
.slides {
    padding: 0;
    margin: 0;
}
.slides__item {
    background-color: #f5f5f5;
    padding: 12px;
    padding-left: 0;
    list-style: none;
    border: 1px dashed rgb(154, 154, 154);
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    display: flex;
    transition: all .3s;
}
.slides__item:hover {
    background-color: rgb(255, 250, 232);
}
.slides__image {
    width: 200px;
    display: block;
}
.slides__title {
    margin-top: 10px;
    margin-bottom: 0;
}
.slides__number {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 70px;
    font-size: 60px;
    font-weight: 600;
    color: #00477c;
}
.breadcrumb > * {
    font-size: 1.3rem;
}
.breadcrumb a {
    color: #fff !important;
}
.breadcrumb a:hover {
    color: #6cccff !important;
}
.breadcrumb .active {
    color: #ffae0f;
}